<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
     <add key="FBNPC" value="data source=184.168.194.64;initial catalog=FBNPC;user id=FBNPC;password=py0tK2@4"/>
  <!--  <add key="FBNPC" value="data source=DESKTOP-0UD42TH\SQLEXPRESS;initial catalog=FBNPC;user id=sa;password=tecxpert;timeout=300000"/>-->
   <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="MailCredentialUserName" value="Feedback@fbnpc.com"/>
    <add key="MailFrom" value="Feedback@fbnpc.com"/>
    <add key="MailCredentialPassword" value="Parteek17$"/>
    <add key="MailClientHost" value="relay-hosting.secureserver.net"/>
    <add key="SmtpPort" value="25"/>    
    <add key="EnquiryMailCc" value="Feedback@fbnpc.com"/>
  </appSettings>
  <system.net>
     <mailSettings> 
        <smtp deliveryMethod="network" from="feedback@fbnpc.com"> 
          <network host="relay-hosting.secureserver.net" port="25" defaultCredentials="true" /> 
        </smtp> 
      </mailSettings> 
  </system.net>
  
  <system.web>
     <customErrors mode="Off" defaultRedirect="ErrorStatus.aspx" />
        <compilation debug="true" targetFramework="4.5" />
  <trust level="Full" originUrl=""/>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    
    </pages>
    <httpRuntime targetFramework="4.5" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    
    <sessionState timeout="300" mode="InProc" regenerateExpiredSessionId="true" >
      
   <!-- <sessionState mode="InProc" customProvider="DefaultSessionProvider"> -->
      
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <machineKey validationKey="027D7F1AF23F7563D33D08E24A936BBD63BF5F7E6C7C4A2B3714E04441E902BC3CAB01341B9C338BECFCE289AFDC93B2EDEE6D5C7DADDF2D32996FA0240414D3" decryptionKey="03D0B977068AE85754FAEC6B53680FAC670F279089F3D50CA6488E76A399743D"
validation="SHA1" decryption="AES"
/>
  
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument enabled="true">
         <files>
            <add value="fbnpc/Default.aspx" />
         </files>
      </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

 </configuration>